* {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 12px;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #00b4d8, #10accd, #1aa5c2, #209db7, #2596ad);
  background-repeat: no-repeat;
  height: 100%;
}

h1,h2,h3,h4,h5 {
  color: bisque;
}

ul,ol {
  list-style-position: inside;
}

i {
  padding: 0;
  padding-right: 6px;
  color: bisque;

}

.container {
  width: 800px;
  max-width: 800px;
  margin: auto;
  background: rgb(173 173 173 / 50%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.links {
  display: flex;
  max-width: 700px;
  margin: auto;}

.title {
  font-size: 42px;
  font-weight: 700;
}

.link {
  text-decoration: none;
  color: whitesmoke;
}

.img {
  width: 300px;
  border: solid 2px rgb(212, 212, 212);
  border-radius: 18px;
}

.title2 {
  font-weight: 500;
  font-size: 28px;
}

.title3 {
  font-weight: 500;
  font-size: 22px;
}

.introduction {
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 18px;
}

.list {
  color: rgb(0, 0, 0);
  font-weight: 200;
  font-size: 18px;
}
